process{
	executor = "slurm"
	//clusterOptions = "-A $params.project"

	withName:'FASTQC'{
		time = 30.m
		cpus = 2		
	}

	withName:'FLASH2'{
		time = 30.m
		cpus = 2
	}

	withName:'MULTIQC'{
		time = 30.m
		cpus = 1
	}

	withName:'BOWTIE2'{
		cpus = 8
		time = 30.m
		memory = 2000
	}	

}

//resume = true
workDir = '/proj/applied_bioinformatics/users/x_amrbi/nf_work'
// we can use this because Gabriele installed singularity for us
singularity.enabled = true
// otherwise we would have to use conda, which is installed on tetralith
conda.enabled = true
conda.useMamba = true

