process{
	scratch = '/tmp'
	executor = "slurm"
	clusterOptions = "-A $params.project"

	withName:'FASTQC'{
		time = 30.m
		cpus = 2		
	}

	withName:'FLASH2'{
		time = 30.m
		cpus = 2
	}

	withName:'MULTIQC'{
		time = 30.m
		cpus = 1
	}

	withName:'BOWTIE2'{
		cpus = 8
		time = 30.m
	}	

}

resume = true
workDir = '/shared/projects/2314_medbioinfo/amrei/nf_work'
# the following is needed on the training cluser to access the data. We mount the needed volumes. 
singularity.enabled = true
singularity.runOptions = '-B /shared -B /tmp'
